.Notifications {
  border: 2px #6A7AC0 dashed;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100;
  margin-bottom: 5px;

  /* styles for when displayDrawer is false */
  display: none;
}

.Notifications.show {
  /* styles for when displayDrawer is true */
  display: block;
}

[data-priority="default"] {
  color: blue;
}

[data-priority="urgent"] {
  color: red;
}
