#count {
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

#logo {
  /* background-image: url(../assets/favicon_atlas.png); */
  background-image: url(../assets/atlas_logo.png);
  width: 200px;
  height: 200px;
}